body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 10px;
}

.country-table {
  width: 100%;
}

.military-table {
  width: 100%;
}

tr.mana-detail-row {
  height: 0;
}

tr.mana-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.mana-row:not(.example-expanded-row):active {
  background: #efefef;
}


.mat-column-country_name {
  font-weight: bold;
}

.mat-mdc-row:nth-child(4n) {
  background-color: #FFFFFF;
}

.mat-mdc-row:nth-child(4n + 3) {
  background-color: #EEE;
}

.mat-mdc-cell {
    text-align: center;
    flex: 0 0 10%;
}

.td:first-child {
    position: sticky;
}

img {
  margin: auto;
  display: block;
}

.mana-detail {
  overflow: hidden;
  display: flex;
}

